/* Couleurs du site
Bleu Lyon / color: rgb(12, 12, 151);  */

body {
  display: flex;

  margin: 0;
  height: 100vh;

  flex-direction: column;
}

.l-header {
  box-sizing: border-box; 
  padding: 20px;
  background-color: blue;
}

/* Configuration de la nav */
.l-nav {
  box-sizing: border-box;
  padding: 20px;
}

nav {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
  box-sizing: border-box; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  text-align: center; 
}

nav a {
  text-decoration: none;
  color: rgb(12, 12, 151); 
  padding: 10px 0px;
}

nav a:hover {
  color: black; 
}

.sous {
  box-sizing: border-box; 
  text-align: center; 
  display: none;
  background-color: white;
  position: absolute;
}
nav > ul li:hover .sous {
  display: block;
}
/* Fermeture configuration de la nav */

/* Body structure */
.l-main-section {
  display: flex;
  flex-grow: 1;
  background-color: red;
}

.l-left-aside {
  box-sizing: border-box;
  width: 20%;
  padding: 20px;

  background-color: orange;
}

.l-main {
  box-sizing: border-box;
  width: 60%;
  padding: 20px;

  background-color: white;

  font-family: Arial, Helvetica, sans-serif; 
  color: black; 
  text-align: justify; 
  font-size: 1em; 
}

.l-right-aside {
  box-sizing: border-box;
  width: 20%;
  padding: 20px;

  background-color: cyan;
}

.l-footer {
  box-sizing: border-box;
  padding: 20px;
  background-color: yellow;
}

/* Titres et autres balises texte */
.h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2em; 
  font-weight: bold; 
  text-align: center; 
  color: red; 
}
