/* Couleurs du site
Bleu Lyon / color: rgb(12, 12, 151);  */

body {
  display: flex;

  margin: 0;
  padding: 0;
  height: 100vh;

  flex-direction: column;
}

/* Configuration de la nav */
.l-nav {
  box-sizing: border-box;
  padding: 20px;
}

nav {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav ul li {
  box-sizing: border-box;
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: rgb(12, 12, 151);
  padding: 10px 0px;
}

nav a:hover {
  color: black;
}

.sous {
  text-align: left;
  display: none;
  background-color: white;
  position: absolute;
}
nav > ul li:hover .sous {
  display: block;
}
/* Fermeture configuration de la nav */

/* Body structure */
.l-main-section {
  display: flex;
  flex-grow: 1;
}

.l-left-aside {
  box-sizing: border-box;
  padding: 20px;
  width: calc(100% / 3 - 2 * 5px);
}

.l-main {
  box-sizing: border-box;
  padding: 20px;
  width: calc(100% / 1.5 - 2 * 5px);

  background-color: white;

  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: justify;
  font-size: 1em;
  line-height: 1.5em;
}

.l-right-aside {
  box-sizing: border-box;
  padding: 20px;
  width: calc(100% / 3 - 2 * 5px);
}

.l-footer {
  box-sizing: border-box;
  padding: 25px;
  background-color: yellow;
}

/* Image fix */
.image {
  display: inline-flex;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

.image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Logo */
#logo {
  display: flex;
  justify-content: center;
}

/* Images header */
.image_header {
  display: flex;
  height: 200px;
  filter: grayscale(100%);
}

#image_margin {
  margin-top: 10px;
}

/* Titres et autres balises texte */
.h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: red;
  line-height: 1em;
}

.h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  color: red;
  line-height: 1em;
}
